**`NB`: Merci de créeer une cellule pour chaque question lorsque vous répondez**

**Deadline : Dimanche 16 février 2025**

**EXERCICES - SESSION 3 : STRUCTURES DE DONNÉES EN PYTHON**

## **I. Questions Théoriques**

### 1. Quelles sont les principales différences entre une liste, un tuple et un dictionnaire en Python ?

Une liste est une collection de données définit avec des crochets, elle est ordonnée et changeable. 

Un tuple est une collection de données définit avec des parenthèses, elle est ordonnée et inchangeable.

Un dictionnaire est une collection de données définit avec des crochets et stockée selon des clés et des valeurs, elle est ordonnée et changeable.

### 2. Pourquoi les listes sont-elles dites "muables" alors que les tuples sont "immuables" ? Donnez un exemple.

Une liste est muable car une fois définit, les éléménts qui la constitue peut être modifié.

###### Exemple

In [78]:
liste = [15, "Apple", "Pineapple"]
liste

liste[0] = "Berries"
liste

['Berries', 'Apple', 'Pineapple']

Par contre, une fois qu'un tuple est définit, il est impossible de changer les éléments qui l'a compose. On dit qu'est elle immuable.

###### Exemple

In [79]:
tple = (15, "Apple", "Pineapple")
tple

tple[0] = "Berries"
tple

TypeError: 'tuple' object does not support item assignment

### 3. Dans quels cas est-il préférable d'utiliser un tuple plutôt qu'une liste ?

Il est préférable d'utiliser un tuple plutôt qu'une liste lorsque l'on voudrait stocker ou sauvegarder des données qui ne changent pas.

### 4. Expliquez la notion d'indexation dans une liste. Pourquoi commence-t-on à 0 et non à 1 ?

L'indexation dans une liste commence de 0 et non de 1 car, c'est un language de base de Python pour simplifier les calculs et optimiser les algorithmes.

### 5. Comment ajouter et supprimer des éléments dans une liste ? Donnez les méthodes utilisées.

Pour ajouter des éléments dans une liste, on utilise :
- append()
- insert()
- extend()

Pour supprimer des éléments dans une liste, on utilise : 
- remove()
- pop() 
- del()

### 6. Quelles sont les principales méthodes disponibles pour manipuler les dictionnaires en Python ?

Les principales méthodes disponibles pour manipuler les dictionnaires en Python sont : 
- get()
- items()
- keys()
- values()
- pop()
- copy()
- popitems()
- clear()
- update()
- fromkeys()
- setdefault()

### 7. Que se passe-t-il si vous essayez d'accéder à une clé inexistante dans un dictionnaire ? Comment éviter une erreur ?

Lorsqu'on essaie d'accéder à une clé inexistant dans un dictionnaire, on obtient une erreur. 

Pour eviter cette erreur, on peut utiliser :
- `get()` pou récuperer une valeur sans modifier le dictionnaire de départ ;
- `in` pour vérifier si la clé se trouve effectivement dans la liste et ;
- `setdefault` pour ajouter une clé manquante avec une valeur.

### 8. Pourquoi dit-on que les dictionnaires en Python sont des "collections non ordonnées" ?

Les dictionnaires en Python sont des collections non ordonnées car,  à l'origine elles n'étaient pas conçus pour des opéations basées sur la position. Leurs forces résident dans l'accès direct par clé. Toutefois, avec la version 3.7 de Python, les dictionnaires ont désormais ordonnées.

### 9. Expliquez la différence entre une clé et une valeur dans un dictionnaire.

La clé est l'identifiant utilisé pour accéder à une valeur d'un dictionnaire.

La valeur est est la donnéee associée ou stockée dans la clé d'un dictionnaire.

### 10. Donnez un exemple d'utilisation réelle d'un dictionnaire dans une application Python.

Système de gestion et d'enregisstrement des notes des étudiants

In [1]:
Notes = {
    "Nom1" : {"Maths" : 15, "Macro" : 16, "Micro" : 17, "History" : 18},
    "Nom2" : {"Maths" : 18, "Macro" : 19, "Micro" : 17, "History" : 17},
    "Nom3" : {"Maths" : 15, "Macro" : 16, "Micro" : 18, "History" : 19},
    "Nom4" : {"Maths" : 20, "Macro" : 15, "Micro" : 14, "History" : 17}
}

Notes

{'Nom1': {'Maths': 15, 'Macro': 16, 'Micro': 17, 'History': 18},
 'Nom2': {'Maths': 18, 'Macro': 19, 'Micro': 17, 'History': 17},
 'Nom3': {'Maths': 15, 'Macro': 16, 'Micro': 18, 'History': 19},
 'Nom4': {'Maths': 20, 'Macro': 15, 'Micro': 14, 'History': 17}}

## **II. Exercices sur les Listes**

### 1. Créez une liste contenant les noms de 5 pays africains.

In [3]:
country = ["Bénin", "Ghana", "Togo", "Mali", "Nigeria"]
country

['Bénin', 'Ghana', 'Togo', 'Mali', 'Nigeria']

### 2. Affichez le troisième élément de la liste.

In [4]:
country[2]

'Togo'

### 3. Remplacez le deuxième élément par un autre pays.

In [5]:
country[1] = "Niger"
country

['Bénin', 'Niger', 'Togo', 'Mali', 'Nigeria']

### 4. Ajoutez un pays à la fin de la liste.

In [6]:
country.append("Australie")
country

['Bénin', 'Niger', 'Togo', 'Mali', 'Nigeria', 'Australie']

### 5. Supprimez le dernier élément de la liste et affichez la liste mise à jour.

In [7]:
country.remove("Australie")
country

['Bénin', 'Niger', 'Togo', 'Mali', 'Nigeria']

### 6. Vérifiez si "Maroc" est présent dans la liste et affichez un message approprié (sans utiliser de boucle ni de if).

In [8]:
print(("No, Maroc is not in Country", "Yes, Maroc is in Country")["Maroc" in country])

No, Maroc is not in Country

### 7. Trouvez et affichez l'index du pays "Sénégal" dans la liste.

In [9]:
if "Sénégal" in country:
    print("The Senegal's index is :", country.index["Sénégal"])
else:
    print("Sénégal is not in country")

Sénégal is not in country

### 8. Affichez la longueur de la liste.

In [10]:
print("The length of the list country is", len(country))

The length of the list country is 5

### 9. Créez une liste de nombres et utilisez la fonction `sum()` pour calculer leur somme.

In [11]:
number = [2, 100, 40, 750, 9]
print("The sum of the number of the list is :", sum(number))

The sum of the number of the list is : 901

### 10. Fusionnez deux listes en une seule liste.

In [2]:
list1 = [1, 2, 3, 10, 50]
list2 = ["Mardi", "Mercredi", "Marie", "Violetta", "Ludmilla"]

list1.extend(list2)
print(list1)

[1, 2, 3, 10, 50, 'Mardi', 'Mercredi', 'Marie', 'Violetta', 'Ludmilla']

### 11. Convertissez une chaîne de caractères en liste de mots.

In [13]:
strg = "Parkint va à l'école."
newlist = strg.split()
newlist

['Parkint', 'va', 'à', "l'école."]

### 12. Supprimez les doublons d'une liste sans utiliser de boucle.

In [14]:
doublons = ["Terry", "Terry", "Fred", "Patrick", 1, 100, 2, 2, 3, 5, 5]
sans_doublons = list(set(doublons))
sans_doublons

[1, 2, 3, 100, 5, 'Fred', 'Terry', 'Patrick']

### 13. Récupérez les trois premiers éléments d'une liste en une seule ligne de code.

In [15]:
print(doublons[0:3])

['Terry', 'Terry', 'Fred']

### 14. Affichez les éléments d'une liste en ordre inverse sans utiliser `.reverse()`.

In [17]:
doublons_inverse1 = doublons[::-1]
doublons_inverse1

[5, 5, 3, 2, 2, 100, 1, 'Patrick', 'Fred', 'Terry', 'Terry']

In [19]:
doublons_inverse2 = list(reversed(doublons)) # différent de reverse()
doublons_inverse2

[5, 5, 3, 2, 2, 100, 1, 'Patrick', 'Fred', 'Terry', 'Terry']

### 15. Remplacez tous les éléments d’une liste de chaînes de caractères par leur version en majuscules.

In [25]:
maj = [nom.upper() for nom in list2]
maj

['MARDI', 'MERCREDI', 'MARIE', 'VIOLETTA', 'LUDMILLA']

### 16. Trouvez l’élément ayant la plus grande valeur dans une liste de nombres.

In [27]:
maximum = max(number)
maximum

750

### 17. Transformez une liste de chiffres en une seule chaîne de caractères.

In [31]:
chaine = ''.join(str(n) for n in number)
chaine

'2100407509'

### 18. Extrayez tous les éléments pairs d’une liste de nombres.

In [35]:
pair = [p for p in number if p % 2 == 0]
pair

[2, 100, 40, 750]

### 19. Créez une liste contenant trois sous-listes et accédez au deuxième élément de la deuxième sous-liste.

In [37]:
grd_liste = [["True", "False"], ["a", "b", "c", "d"], [1, 2, 3, 2000]]
grd_liste[1]

['a', 'b', 'c', 'd']

### 20. Supprimez tous les éléments d’une liste sans utiliser `clear()`.

In [40]:
grd_liste = []
grd_liste

[]

### 21. Étant donné une liste `L`, créez une nouvelle liste contenant uniquement les éléments uniques.

In [41]:
L = [1, 1, 28, 30, 30, 29, 28, 1000]

L_unique = list(set(L))
L_unique

[1, 1000, 28, 29, 30]

### 22. Faites la différence entre deux listes (éléments présents dans la première mais pas dans la seconde).

In [43]:
premiere_liste = [5, 12, "Volaille", "Chance", "Perle", "Fin"]
seconde_liste = ["Number", "Boème", "Fin", "Conqueror", 12, 22]

diff = [x for x in premiere_liste if x not in seconde_liste]
diff

[5, 'Volaille', 'Chance', 'Perle']

### 23. Convertissez une liste en tuple et expliquez pourquoi cela peut être utile.

In [45]:
prem_tuple = tuple(premiere_liste)
prem_tuple

(5, 12, 'Volaille', 'Chance', 'Perle', 'Fin')

###### Cela peut être utile à conserver les données de façon définitive.

### 24. Générez une liste contenant 10 valeurs aléatoires entre 1 et 100.

In [48]:
import random as rd

random_values = [rd.randint(1, 100) for i in range(10)]
random_values

[23, 76, 82, 87, 85, 60, 7, 98, 47, 50]

### 25. Effectuez une opération mathématique sur chaque élément d’une liste sans utiliser de boucle.

In [49]:
opération = list(map(lambda x: x + 102, number))
opération

[104, 202, 142, 852, 111]

### 26. Supprimez toutes les valeurs `None` d’une liste.

In [53]:
none = [1, "Fuck", "None","You", "None", 5, "None", "None", 100, "None"]
w_none = [x for x in none if x != "None"]
w_none

[1, 'Fuck', 'You', 5, 100]

### 27. Répartissez une liste en plusieurs sous-listes de taille égale.

In [56]:
taille = len(none) // 5
sous_liste = []
for i in range(0, len(none), taille):
    sous_liste.append(none[i:i + taille])

sous_liste

[[1, 'Fuck'], ['None', 'You'], ['None', 5], ['None', 'None'], [100, 'None']]

### 28. Fusionnez deux listes en alternant leurs éléments.

In [58]:
join = []
for i in range(max(len(list1), len(none))):
    if i < len(list1):
        join.append(list1[i])
    if i < len(none):
        join.append(none[i])

print(join)

[1, 1, 2, 'Fuck', 3, 'None', 10, 'You', 50, 'None', 'Mardi', 5, 'Mercredi', 'None', 'Marie', 'None', 'Violetta', 100, 'Ludmilla', 'None']

### 29. Créez un dictionnaire à partir de deux listes, l'une contenant les clés et l'autre les valeurs.

In [59]:
clés = ["Nom", "Prénoms", "Age", "Statut", "Profession"]

values = ["Ian", "Anderson", 25, "Couplebataire", "Humoriste"]

dictionnaire = dict(zip(clés, values))

dictionnaire

{'Nom': 'Ian',
 'Prénoms': 'Anderson',
 'Age': 25,
 'Statut': 'Couplebataire',
 'Profession': 'Humoriste'}

### 30. Identifiez les éléments communs entre deux listes.

In [60]:
premiere_liste = [5, 12, "Volaille", "Chance", "Perle", "Fin"]
seconde_liste = ["Number", "Boème", "Fin", "Conqueror", 12, 22]

commun = [x for x in premiere_liste if x in seconde_liste]
commun

[12, 'Fin']

## **III. Exercices sur les Tuples**

### 1. Créez un tuple contenant cinq nombres entiers.

In [62]:
numb = (10, 20, 30, 60, 70)
numb

(10, 20, 30, 60, 70)

### 2. Accédez au troisième élément du tuple.

In [63]:
numb[2]

30

### 3. Transformez un tuple en liste, modifiez un élément, puis retransformez-le en tuple.

In [64]:
numb_liste = list(numb)
numb_liste[2] = 40
numb = tuple(numb_liste)
numb

(10, 20, 40, 60, 70)

### 4. Vérifiez si un élément donné est présent dans un tuple.

In [66]:
elm = 30
if elm in numb:
    print(elm, "is in numb")
else:
    print(elm, "is not in numb")

30 is not in numb

### 5. Concaténez deux tuples en un seul.

In [69]:
fruits = ("Banana", "Apple", "Pineapple", "Berries", "Watermelon")
concate1 = numb + fruits 
concate1

(10, 20, 40, 60, 70, 'Banana', 'Apple', 'Pineapple', 'Berries', 'Watermelon')

In [70]:
concate2 = tuple(list(numb) + list(fruits))
concate2

(10, 20, 40, 60, 70, 'Banana', 'Apple', 'Pineapple', 'Berries', 'Watermelon')

### 6. Extrayez une sous-partie d'un tuple.

In [75]:
concate1[1:9]

(20, 40, 60, 70, 'Banana', 'Apple', 'Pineapple', 'Berries')

### 7. Déterminez la longueur d'un tuple.

In [73]:
len(concate2)

10

### 8. Trouvez la position d’un élément spécifique dans un tuple.

In [74]:
concate2.index("Banana")

5

### 9. Convertissez un tuple de nombres en une chaîne de caractères.

In [79]:
chaine = ''.join(str(n) for n in numb)
chaine

'1020406070'

### 10. Expliquez pourquoi les tuples sont utiles pour stocker des données immuables.

Les tuples sont utiles pour stocker des données immuables car une fois qu'elles sont créées, elles ne peuvent être modifié. Cela permet de protéger les données stockées.

## **IV. Exercices sur les Dictionnaires**

### 1. Créez un dictionnaire contenant trois clés : "nom", "âge" et "ville".

In [109]:
infos = {
    "Nom" : "Terrence",
    "Age" : 20,
    "Ville" : "Vénis"
}

infos

{'Nom': 'Terrence', 'Age': 20, 'Ville': 'Vénis'}

### 2. Affichez la valeur associée à la clé "âge".

In [104]:
infos["Age"]

20

### 3. Ajoutez une nouvelle clé "profession" au dictionnaire.

In [110]:
infos["Profession"] = "Chef d'entreprise"
infos

{'Nom': 'Terrence',
 'Age': 20,
 'Ville': 'Vénis',
 'Profession': "Chef d'entreprise"}

In [106]:
infos.update({"Profession" : "Chef d'entreprise"})
infos

{'Nom': 'Terrence',
 'Age': 20,
 'Ville': 'Vénis',
 'Profession': "Chef d'entreprise"}

### 4. Modifiez la valeur associée à "ville".

In [111]:
infos["Ville"] = "Madrid"
infos

{'Nom': 'Terrence',
 'Age': 20,
 'Ville': 'Madrid',
 'Profession': "Chef d'entreprise"}

### 5. Supprimez une clé du dictionnaire.

In [101]:
infos.pop("Profession")
infos

{'Nom': 'Terrence', 'Age': 20, 'Ville': 'Madrid'}

In [108]:
infos.popitem()
infos

{'Nom': 'Terrence', 'Age': 20, 'Ville': 'Madrid'}

In [112]:
del infos["Profession"]
infos

{'Nom': 'Terrence', 'Age': 20, 'Ville': 'Madrid'}

### 6. Vérifiez si une clé existe dans le dictionnaire.

In [114]:
if "Statut" in infos:
    print("Statut is in infos")
else:
    print("Statut is not in infos")

Statut is not in infos

### 7. Récupérez toutes les clés du dictionnaire.

In [115]:
infos.keys()

dict_keys(['Nom', 'Age', 'Ville'])

### 8. Récupérez toutes les valeurs du dictionnaire.

In [116]:
infos.values()

dict_values(['Terrence', 20, 'Madrid'])

### 9. Transformez le dictionnaire en une liste de tuples.

In [119]:
infos_tuple = tuple(infos.items())
infos_tuple

(('Nom', 'Terrence'), ('Age', 20), ('Ville', 'Madrid'))

### 10. Fusionnez deux dictionnaires.

In [120]:
join_dict1 = {**infos, **dictionnaire}
join_dict1

{'Nom': 'Ian',
 'Age': 25,
 'Ville': 'Madrid',
 'Prénoms': 'Anderson',
 'Statut': 'Couplebataire',
 'Profession': 'Humoriste'}

In [125]:
join_dict2 = infos | dictionnaire
join_dict2

{'Nom': 'Ian',
 'Age': 25,
 'Ville': 'Madrid',
 'Prénoms': 'Anderson',
 'Statut': 'Couplebataire',
 'Profession': 'Humoriste'}

In [127]:
infos.update(dictionnaire)
infos

{'Nom': 'Ian',
 'Age': 25,
 'Ville': 'Madrid',
 'Prénoms': 'Anderson',
 'Statut': 'Couplebataire',
 'Profession': 'Humoriste'}

### 11. Créez un dictionnaire dont les clés sont des pays et les valeurs leurs capitales.

In [7]:
countrycap = {
    "Bénin" : "Porto-Novo",
    "Colombie" : "Bogota",
    "Mali" : "Bamako",
    "Côte d'ivoire" : "Yamoussokro",
    "Burkina Faso" : "Ouagadogou", 
    "Gabon" : "Libreville",
    "Sierra Leone" : "Freetown"
}

countrycap

{'Bénin': 'Porto-Novo',
 'Colombie': 'Bogota',
 'Mali': 'Bamako',
 "Côte d'ivoire": 'Yamoussokro',
 'Burkina Faso': 'Ouagadogou',
 'Gabon': 'Libreville',
 'Sierra Leone': 'Freetown'}

### 12. Accédez à la capitale d’un pays donné.

In [129]:
countrycap["Mali"]

'Bamako'

### 13. Remplacez une capitale par une autre.

In [131]:
countrycap["Colombie"] = "Cotonou"
countrycap

{'Bénin': 'Porto-Novo',
 'Colombie': 'Cotonou',
 'Mali': 'Bamako',
 "Côte d'ivoire": 'Yamoussokro',
 'Burkina Faso': 'Ouagadogou',
 'Gabon': 'Libreville',
 'Sierra Leone': 'Freetown'}

### 14. Inversez les clés et les valeurs d’un dictionnaire.

In [135]:
inverse1 = {v:k for k, v in countrycap.items()}
inverse1

{'Porto-Novo': 'Bénin',
 'Cotonou': 'Colombie',
 'Bamako': 'Mali',
 'Yamoussokro': "Côte d'ivoire",
 'Ouagadogou': 'Burkina Faso',
 'Libreville': 'Gabon',
 'Freetown': 'Sierra Leone'}

In [136]:
inverse2 = dict(zip(countrycap.values(), countrycap.keys()))
inverse2

{'Porto-Novo': 'Bénin',
 'Cotonou': 'Colombie',
 'Bamako': 'Mali',
 'Yamoussokro': "Côte d'ivoire",
 'Ouagadogou': 'Burkina Faso',
 'Libreville': 'Gabon',
 'Freetown': 'Sierra Leone'}

### 15. Convertissez deux listes en un dictionnaire.

In [133]:
newdict = dict(zip(list1, list2))
newdict

{1: 'Mardi', 2: 'Mercredi', 3: 'Marie', 10: 'Violetta', 50: 'Ludmilla'}

### 16. Filtrez un dictionnaire pour ne garder que certaines clés.

In [139]:
garder = ["Cotonou", "Libreville"]
newinfos = {k:v for k, v in inverse2.items() if k not in garder}
newinfos

{'Porto-Novo': 'Bénin',
 'Bamako': 'Mali',
 'Yamoussokro': "Côte d'ivoire",
 'Ouagadogou': 'Burkina Faso',
 'Freetown': 'Sierra Leone'}

### 17. Supprimez une clé sans générer d’erreur si elle n’existe pas.

In [140]:
supprimer = "Lomé"
inverse2.pop(supprimer, None)
inverse2

{'Porto-Novo': 'Bénin',
 'Cotonou': 'Colombie',
 'Bamako': 'Mali',
 'Yamoussokro': "Côte d'ivoire",
 'Ouagadogou': 'Burkina Faso',
 'Libreville': 'Gabon',
 'Freetown': 'Sierra Leone'}

In [141]:
supprimer = "Pretoria"
try:
    del inverse2["Pretoria"]
except KeyError:
    pass
inverse2

{'Porto-Novo': 'Bénin',
 'Cotonou': 'Colombie',
 'Bamako': 'Mali',
 'Yamoussokro': "Côte d'ivoire",
 'Ouagadogou': 'Burkina Faso',
 'Libreville': 'Gabon',
 'Freetown': 'Sierra Leone'}

### 18. Affichez les paires clé-valeur sous forme de chaîne formatée.

In [143]:
for k, v in inverse2.items():
    print(k, v)

Porto-Novo Bénin
Cotonou Colombie
Bamako Mali
Yamoussokro Côte d'ivoire
Ouagadogou Burkina Faso
Libreville Gabon
Freetown Sierra Leone

### 19. Calculez la somme des valeurs d’un dictionnaire de nombres.

In [144]:
maths = {
    "Bertrand" : 15,
    "Gontrand" : 18,
    "Grégoire" : 19,
    "Colette" : 20
}
print("The sum of the maths' notes of students is", sum(maths.values()))

The sum of the maths' notes of students is 72

### 20. Trouvez la clé associée à la plus grande valeur.

In [147]:
maxdict = {k for k, v in maths.items() if v == max(maths.values())}
maxdict

{'Colette'}

### 21. Créez un dictionnaire imbriqué (dictionnaire de dictionnaires).

In [154]:
repas = {
    "Mets1" : {
        "Entrée" : "Samoussa",
        "Résistance" : "Thiep",
        "Déssert" : "Déguè aux fruits secs"
    },
    "Mets2" : {
        "Entrée" : "Accra",
        "Résistance" : "Poulet yassa accompagné de riz créole",
        "Déssert" : "Makroud" 
    },
    "mets3" : {
        "Entrée" : "Brik",
        "Résistance" : "Man tindjan avec pâte noire",
        "Déssert" : "Puff puff"
    }
}
repas

{'Mets1': {'Entrée': 'Samoussa',
  'Résistance': 'Thiep',
  'Déssert': 'Déguè aux fruits secs'},
 'Mets2': {'Entrée': 'Accra',
  'Résistance': 'Poulet yassa accompagné de riz créole',
  'Déssert': 'Makroud'},
 'mets3': {'Entrée': 'Brik',
  'Résistance': 'Man tindjan avec pâte noire',
  'Déssert': 'Puff puff'}}

### 22. Accédez à une valeur dans un dictionnaire imbriqué.

In [155]:
repas["Mets2"]["Déssert"]

'Makroud'

### 23. Supprimez un élément spécifique d’un dictionnaire imbriqué.

In [156]:
del repas["Mets2"]["Déssert"]
repas

{'Mets1': {'Entrée': 'Samoussa',
  'Résistance': 'Thiep',
  'Déssert': 'Déguè aux fruits secs'},
 'Mets2': {'Entrée': 'Accra',
  'Résistance': 'Poulet yassa accompagné de riz créole'},
 'mets3': {'Entrée': 'Brik',
  'Résistance': 'Man tindjan avec pâte noire',
  'Déssert': 'Puff puff'}}

### 24. Fusionnez deux dictionnaires sans écraser les valeurs existantes.

In [162]:
join2 = {}

for k, v in infos.items():
    join2[k] = [v]
for k, v in dictionnaire.items():
    if k in join2:
            join2[k].append(v)
    else:
            join2[k] = [v]

join2

{'Nom': ['Ian', 'Ian'],
 'Age': [25, 25],
 'Ville': ['Madrid'],
 'Prénoms': ['Anderson', 'Anderson'],
 'Statut': ['Couplebataire', 'Couplebataire'],
 'Profession': ['Humoriste', 'Humoriste']}

### 25. Trier un dictionnaire par ses clés.

In [163]:
sort1 = dict(sorted(infos.items()))
sort1

{'Age': 25,
 'Nom': 'Ian',
 'Profession': 'Humoriste',
 'Prénoms': 'Anderson',
 'Statut': 'Couplebataire',
 'Ville': 'Madrid'}

In [165]:
sort2 = dict(sorted(infos.items(), reverse=True))
sort2

{'Ville': 'Madrid',
 'Statut': 'Couplebataire',
 'Prénoms': 'Anderson',
 'Profession': 'Humoriste',
 'Nom': 'Ian',
 'Age': 25}

In [169]:
sortkey = {}
for k in sorted(infos.keys()):
    sortkey[k] = infos[k]
sortkey

{'Age': 25,
 'Nom': 'Ian',
 'Profession': 'Humoriste',
 'Prénoms': 'Anderson',
 'Statut': 'Couplebataire',
 'Ville': 'Madrid'}

### 26. Trier un dictionnaire par ses valeurs.

In [176]:
sortvalue = {k: v for k, v in sorted(maths.items(), key=lambda item: item[1])}
sortvalue

{'Bertrand': 15, 'Gontrand': 18, 'Grégoire': 19, 'Colette': 20}

In [179]:
sortv = {}
for k, v in sorted(maths.items(), key=lambda item: item[1]):
    sortv[k] = v
sortv

{'Bertrand': 15, 'Gontrand': 18, 'Grégoire': 19, 'Colette': 20}

### 27. Convertissez un dictionnaire en JSON.

In [180]:
import json as js

jsonn = js.dumps(repas)
jsonn

'{"Mets1": {"Entr\\u00e9e": "Samoussa", "R\\u00e9sistance": "Thiep", "D\\u00e9ssert": "D\\u00e9gu\\u00e8 aux fruits secs"}, "Mets2": {"Entr\\u00e9e": "Accra", "R\\u00e9sistance": "Poulet yassa accompagn\\u00e9 de riz cr\\u00e9ole"}, "mets3": {"Entr\\u00e9e": "Brik", "R\\u00e9sistance": "Man tindjan avec p\\u00e2te noire", "D\\u00e9ssert": "Puff puff"}}'

### 28. Créez un dictionnaire à partir d’une liste en comptant les occurrences des éléments.

In [4]:
dict_occur = {}

for elm in list1:
    if elm in dict_occur:
        dict_occur[elm] += 1
    else:
        dict_occur[elm] = 1

print(dict_occur)

{1: 1, 2: 1, 3: 1, 10: 1, 50: 1, 'Mardi': 1, 'Mercredi': 1, 'Marie': 1, 'Violetta': 1, 'Ludmilla': 1}

In [3]:
from collections import Counter as ctr

dict_occur = ctr(list1)
print(dict_occur)

Counter({1: 1, 2: 1, 3: 1, 10: 1, 50: 1, 'Mardi': 1, 'Mercredi': 1, 'Marie': 1, 'Violetta': 1, 'Ludmilla': 1})

### 29. Affichez un dictionnaire sous forme de tableau.

In [9]:
from tabulate import tabulate as tbl
print(tbl(countrycap.items(), headers=["Pays", "Capitale"], tablefmt="grid"))

+---------------+-------------+
| Pays          | Capitale    |
+===============+=============+
| Bénin         | Porto-Novo  |
+---------------+-------------+
| Colombie      | Bogota      |
+---------------+-------------+
| Mali          | Bamako      |
+---------------+-------------+
| Côte d'ivoire | Yamoussokro |
+---------------+-------------+
| Burkina Faso  | Ouagadogou  |
+---------------+-------------+
| Gabon         | Libreville  |
+---------------+-------------+
| Sierra Leone  | Freetown    |
+---------------+-------------+

In [21]:
mlongk = max(len(str(k)) for k in countrycap.keys()) if countrycap else 0
mlongv = max(len(str(v)) for v in countrycap.values()) if countrycap else 0

entetek = "Pays"
entetev = "Capitale"
mlongk = max(mlongk, len(entetek))
mlongv = max(mlongv, len(entetev))

print(entetek.ljust(mlongk), "|", entetev.ljust(mlongv))
print("-" * (mlongk + mlongv + 4))

for k, v in countrycap.items():
    print(str(k).ljust(mlongk) , "|", str(v).ljust(mlongv))

Pays          | Capitale
----------------------------
Bénin         | Porto-Novo
Colombie      | Bogota
Mali          | Bamako
Côte d'ivoire | Yamoussokro
Burkina Faso  | Ouagadogou
Gabon         | Libreville
Sierra Leone  | Freetown

### 30. Créez un dictionnaire représentant un inventaire de produits avec gestion des stocks.

In [41]:
inventaire = {
    "101" : {"Nom" : "T-shirt", "Prix" : 15.99, "Quantité" : 50},
    "112" : {"Nom" : "Jean", "Prix" : 29.90, "Quantité" : 30},
    "123" : {"Nom" : "Chaussures", "Prix" : 49.75, "Quantité" : 20},
    "134" : {"Nom" : "Casquette", "Prix" : 9.50, "Quantité" : 100},
    "145" : {"Nom" : "Eyeline", "Prix" : 5.95, "Quantité" : 40},
    "156" : {"Nom" : "Baskets", "Prix" : 120.49, "Quantité" : 80},
    "167" : {"Nom" : "Teddy Bear", "Prix" : 20.85, "Quantité" : 95},
    "178" : {"Nom" : " One piece Hat", "Prix" : 50.99, "Quantité" : 9},
    "189" : {"Nom" : "Snowboard", "Prix" : 250.69, "Quantité" : 28},
    "190" : {"Nom" : "Dior", "Prix" : 38.75, "Quantité" : 150}
}

inventaire

{'101': {'Nom': 'T-shirt', 'Prix': 15.99, 'Quantité': 50},
 '112': {'Nom': 'Jean', 'Prix': 29.9, 'Quantité': 30},
 '123': {'Nom': 'Chaussures', 'Prix': 49.75, 'Quantité': 20},
 '134': {'Nom': 'Casquette', 'Prix': 9.5, 'Quantité': 100},
 '145': {'Nom': 'Eyeline', 'Prix': 5.95, 'Quantité': 40},
 '156': {'Nom': 'Baskets', 'Prix': 120.49, 'Quantité': 80},
 '167': {'Nom': 'Teddy Bear', 'Prix': 20.85, 'Quantité': 95},
 '178': {'Nom': ' One piece Hat', 'Prix': 50.99, 'Quantité': 9},
 '189': {'Nom': 'Snowboard', 'Prix': 250.69, 'Quantité': 28},
 '190': {'Nom': 'Dior', 'Prix': 38.75, 'Quantité': 150}}

In [42]:
def ajout_produit(inventaire, IDproduit, Nom, Prix, Quantité):
    if IDproduit not in inventaire:
        inventaire[IDproduit] = {"Nom" : Nom, "Prix" : Prix, "Quantité" : Quantité}
        print(IDproduit, "a été ajouté à l'inventaire avec succès.")
    else:
        print(IDproduit, "est déjà renseigné dans l'inventaire.")
        
ajout_produit(inventaire, "122", "Watch", 40.35, 60)
inventaire

122 a été ajouté à l'inventaire avec succès.

{'101': {'Nom': 'T-shirt', 'Prix': 15.99, 'Quantité': 50},
 '112': {'Nom': 'Jean', 'Prix': 29.9, 'Quantité': 30},
 '123': {'Nom': 'Chaussures', 'Prix': 49.75, 'Quantité': 20},
 '134': {'Nom': 'Casquette', 'Prix': 9.5, 'Quantité': 100},
 '145': {'Nom': 'Eyeline', 'Prix': 5.95, 'Quantité': 40},
 '156': {'Nom': 'Baskets', 'Prix': 120.49, 'Quantité': 80},
 '167': {'Nom': 'Teddy Bear', 'Prix': 20.85, 'Quantité': 95},
 '178': {'Nom': ' One piece Hat', 'Prix': 50.99, 'Quantité': 9},
 '189': {'Nom': 'Snowboard', 'Prix': 250.69, 'Quantité': 28},
 '190': {'Nom': 'Dior', 'Prix': 38.75, 'Quantité': 150},
 '122': {'Nom': 'Watch', 'Prix': 40.35, 'Quantité': 60}}

In [43]:
def mj_quantité(inventaire, IDproduit, ajout_quantité):
    if IDproduit in inventaire:
        inventaire[IDproduit]["Quantité"] += ajout_quantité
        print("La quantité du produit", inventaire[IDproduit]["Nom"], "a été mise à jour avec succés :", inventaire[IDproduit]["Quantité"])
    else:
        print("Le produit", inventaire[IDproduit]["Nom"], "ne se trouve pas dans l'inventaire. Veuillez d'abord l'ajouter avant la mise à jour. Merci...")
        
mj_quantité(inventaire, "123", 15)
inventaire

La quantité du produit Chaussures a été mise à jour avec succés : 35

{'101': {'Nom': 'T-shirt', 'Prix': 15.99, 'Quantité': 50},
 '112': {'Nom': 'Jean', 'Prix': 29.9, 'Quantité': 30},
 '123': {'Nom': 'Chaussures', 'Prix': 49.75, 'Quantité': 35},
 '134': {'Nom': 'Casquette', 'Prix': 9.5, 'Quantité': 100},
 '145': {'Nom': 'Eyeline', 'Prix': 5.95, 'Quantité': 40},
 '156': {'Nom': 'Baskets', 'Prix': 120.49, 'Quantité': 80},
 '167': {'Nom': 'Teddy Bear', 'Prix': 20.85, 'Quantité': 95},
 '178': {'Nom': ' One piece Hat', 'Prix': 50.99, 'Quantité': 9},
 '189': {'Nom': 'Snowboard', 'Prix': 250.69, 'Quantité': 28},
 '190': {'Nom': 'Dior', 'Prix': 38.75, 'Quantité': 150},
 '122': {'Nom': 'Watch', 'Prix': 40.35, 'Quantité': 60}}

In [54]:
def quantité_vd(inventaire, IDproduit, qtité_vend):
    if IDproduit in inventaire:
        if inventaire[IDproduit]["Quantité"] >= qtité_vend:
            inventaire[IDproduit]["Quantité"] -= qtité_vend
            print("Mise à jour opéré. Le nouveau stock du produit", inventaire[IDproduit]["Nom"], "est :", inventaire[IDproduit]["Quantité"])
        else:
                print("Erreur, la quantité vendue sélectionnée est incorrecte. Veuillez réessayer, Merci.")
    else: 
        print("Le produit", inventaire[IDproduit]["Nom"], "ne se trouve pas dans l'inventaire. Veuillez d'abord l'ajouter avant la mise à jour. Merci...")
        
quantité_vd(inventaire, "134", 65)
inventaire

Erreur, la quantité vendue sélectionnée est incorrecte. Veuillez réessayer, Merci.

{'101': {'Nom': 'T-shirt', 'Prix': 15.99, 'Quantité': 50},
 '112': {'Nom': 'Jean', 'Prix': 29.9, 'Quantité': 30},
 '123': {'Nom': 'Chaussures', 'Prix': 49.75, 'Quantité': 35},
 '134': {'Nom': 'Casquette', 'Prix': 9.5, 'Quantité': 35},
 '145': {'Nom': 'Eyeline', 'Prix': 5.95, 'Quantité': 40},
 '156': {'Nom': 'Baskets', 'Prix': 120.49, 'Quantité': 80},
 '167': {'Nom': 'Teddy Bear', 'Prix': 20.85, 'Quantité': 95},
 '178': {'Nom': ' One piece Hat', 'Prix': 50.99, 'Quantité': 9},
 '189': {'Nom': 'Snowboard', 'Prix': 250.69, 'Quantité': 28},
 '190': {'Nom': 'Dior', 'Prix': 38.75, 'Quantité': 150},
 '122': {'Nom': 'Watch', 'Prix': 40.35, 'Quantité': 60}}

In [88]:
def aff_inventaire(inventaire):
    print("\nInventaire actuel :")
    print("IDproduit".ljust(10), "|", "Nom".ljust(20), "|", "Prix".ljust(10), "|", "Quantité")
    print("-" * 60)
    for IDproduit, details in inventaire.items():
        print(IDproduit.ljust(10), "|", details["Nom"].ljust(20), "|", str(details["Prix"]).ljust(7), "€  |", details["Quantité"])
        
aff_inventaire(inventaire)

Inventaire actuel :
IDproduit  | Nom                  | Prix       | Quantité
------------------------------------------------------------
101        | T-shirt              | 15.99   €  | 50
112        | Jean                 | 29.9    €  | 30
123        | Chaussures           | 49.75   €  | 35
134        | Casquette            | 9.5     €  | 35
145        | Eyeline              | 5.95    €  | 40
156        | Baskets              | 120.49  €  | 80
167        | Teddy Bear           | 20.85   €  | 95
178        |  One piece Hat       | 50.99   €  | 9
189        | Snowboard            | 250.69  €  | 28
190        | Dior                 | 38.75   €  | 150
122        | Watch                | 40.35   €  | 60