In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('https://raw.githubusercontent.com/Neriya98/teaching_data/refs/heads/main/bank.csv')

In [5]:
display(base.shape, base.head())

(4521, 16)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,no

### Nombre de personnes ayant déjà souscrit à un prêt par mois

In [18]:
def borrowers_by_month(base):
    return base[base['loan'] == 'yes'].groupby('month').size().sort_values(ascending = False)

In [19]:
borrowers_by_month(base)

month
jul    210
may    189
nov     70
aug     67
jun     62
apr     32
feb     31
jan     18
oct      7
sep      3
dec      1
mar      1
dtype: int64

### Age des personnes ayant déjà souscrit à un prêt

In [37]:
def borrowers_mean_age(base):
    return base[base['loan']  == 'yes'].groupby('age').size().sort_values(ascending = False).head(10)

In [38]:
borrowers_mean_age(base)

age
34    47
32    38
31    33
33    32
35    30
40    24
41    23
36    23
57    21
56    21
dtype: int64

### Nombre de personnes avec des prêts précédents à qui on a accordé un nouveau prêt

In [60]:
def previous_loan_borrowers(base):
    return base[base['loan'] == 'yes'].groupby('y').size()

In [61]:
previous_loan_borrowers(base)

y
no     648
yes     43
dtype: int64

### Top 5 des métiers des emprunteurs

In [58]:
def borrowers_job(base):
    return base[base['loan'] == 'yes']['job'].value_counts()

In [59]:
borrowers_job(base)

blue-collar      156
management       120
technician       119
admin.            91
services          74
entrepreneur      41
retired           32
self-employed     30
unemployed        13
housemaid         13
student            1
unknown            1
Name: job, dtype: int64

### Situation matrimoniale des emprunteurs

In [63]:
def borrowers_marital(base):
    return base[base['loan'] == 'yes']['marital'].value_counts()

In [64]:
borrowers_marital(base)

married     453
single      148
divorced     90
Name: marital, dtype: int64

### Niveau d'éducation des emprunteurs

In [65]:
def borrowers_education(base):
    return base[base['loan'] == 'yes']['education'].value_counts()

In [66]:
borrowers_education(base)

secondary    416
tertiary     174
primary       94
unknown        7
Name: education, dtype: int64