## Homework 1

In [1]:
Catalogue = {
    "Laptop" : {"Price" : 359.99, "TVA" : 0.2},
    "Watch" : {"Price" : 99.99, "TVA" : 0.1},
    "Rice bag" : {"Price" : 15.99, "TVA" : 0.03},
    "Cereal box" : {"Price" : 5.80, "TVA" : 0.015},
    "Phone" : {"Price" : 250.25, "TVA" : 0.25},
    "Blender" : {"Price" : 150.90, "TVA" : 0.2},
    "Book" : {"Price" : 3.99, "TVA" : 0.01},
}
Catalogue

{'Laptop': {'Price': 359.99, 'TVA': 0.2},
 'Watch': {'Price': 99.99, 'TVA': 0.1},
 'Rice bag': {'Price': 15.99, 'TVA': 0.03},
 'Cereal box': {'Price': 5.8, 'TVA': 0.015},
 'Phone': {'Price': 250.25, 'TVA': 0.25},
 'Blender': {'Price': 150.9, 'TVA': 0.2},
 'Book': {'Price': 3.99, 'TVA': 0.01}}

In [2]:
def ttc_price(product, quantity):
    if product in Catalogue:
        ht_price = Catalogue[product]["Price"]
        tva = Catalogue[product]["TVA"]
        tht_price = ht_price * quantity * tva
        ttc_price = ht_price + tht_price
        return ttc_price

In [3]:
number_product = int(input("Combien de produits de chaque catégorie avez vous acheté : "))

total_price = 0

for i in range(number_product):
    product = str(input(f"Nom du produit {i+1} : "))
    quantity = int(input(f"Quantité du produit {i+1} : "))
    price = ttc_price(product, quantity)
    print(f"Le prix ttc de {quantity} {product}(s) est : {price}")
    total_price += price
    
print("La somme total ttc de vos produits achetés est :", total_price)

Combien de produits de chaque catégorie avez vous acheté : 3
Nom du produit 1 : Laptop
Quantité du produit 1 : 4
Le prix ttc de 4 Laptop(s) est : 647.982
Nom du produit 2 : Blender
Quantité du produit 2 : 3
Le prix ttc de 3 Blender(s) est : 241.44000000000003
Nom du produit 3 : Book
Quantité du produit 3 : 5
Le prix ttc de 5 Book(s) est : 4.189500000000001
La somme total ttc de vos produits achetés est : 893.6115

## Homework 2

In [5]:
Notes = {
    "Raoul" : {"Math": 18, "Micro": 19, "Macro": 15, "Econometrics": 16.50, "Statistics": 18, "Computing": 15},
    "Paola" : {"Math": 18, "Micro": 19, "Macro": 15, "Econometrics": 16.575, "Statistics": 17, "Computing": 15},
    "Jean" : {"Math": 15, "Micro": 18, "Macro": 19, "Econometrics": 18.50, "Statistics": 18, "Computing": 15},
    "Naim" : {"Math": 18, "Micro": 19, "Macro": 15, "Econometrics": 16.25, "Statistics": 14, "Computing": 13},
    "Pierre" : {"Math": 15, "Micro": 19, "Macro": 16, "Econometrics": 17.25, "Statistics": 12, "Computing": 15},
}

## First method

In [13]:
import pandas as pd

notes = pd.DataFrame(Notes)

print(notes)

              Raoul   Paola  Jean   Naim  Pierre
Math           18.0  18.000  15.0  18.00   15.00
Micro          19.0  19.000  18.0  19.00   19.00
Macro          15.0  15.000  19.0  15.00   16.00
Econometrics   16.5  16.575  18.5  16.25   17.25
Statistics     18.0  17.000  18.0  14.00   12.00
Computing      15.0  15.000  15.0  13.00   15.00

In [16]:
notes.mean()

Raoul     16.916667
Paola     16.762500
Jean      17.250000
Naim      15.875000
Pierre    15.708333
dtype: float64

## Second method

In [7]:
def student_mean(grades):
    return sum(grades.values()) / len(grades)

In [8]:
means = {}
for student, note in Notes.items():
    mean = student_mean(note)
    means[student] = mean
    print(f"La moyenne de {student} est :", mean)
    
class_mean = student_mean(means)
print(f"La moyenne de la classe est :", class_mean)

La moyenne de Raoul est : 16.916666666666668
La moyenne de Paola est : 16.7625
La moyenne de Jean est : 17.25
La moyenne de Naim est : 15.875
La moyenne de Pierre est : 15.708333333333334
La moyenne de la classe est : 16.5025

## Homework 3

In [21]:
import pandas as pd

base = pd.read_csv("D:\DOCUMENTS\PERSONNEL\OO\FORMATION\FADP\student_performance_large_dataset.csv")
print(base.head())

  Student_ID  Age  Gender  Study_Hours_per_Week Preferred_Learning_Style  \
0     S00001   18  Female                    48              Kinesthetic
1     S00002   29  Female                    30          Reading/Writing
2     S00003   20  Female                    47              Kinesthetic
3     S00004   23  Female                    13                 Auditory
4     S00005   19  Female                    24                 Auditory

   Online_Courses_Completed Participation_in_Discussions  \
0                        14                          Yes
1                        20                           No
2                        11                           No
3                         0                          Yes
4                        19                          Yes

   Assignment_Completion_Rate (%)  Exam_Score (%)  Attendance_Rate (%)  \
0                             100              69                   66
1                              71              40                   57
2                              60              43                   79
3                              63              70                   60
4                              59              63                   93

  Use_of_Educational_Tech Self_Reported_Stress_Level  \
0                     Yes                       High
1                     Yes                     Medium
2                     Yes                        Low
3                     Yes                        Low
4                     Yes                     Medium

   Time_Spent_on_Social_Media (hours/week)  Sleep_Hours_per_Night Final_Grade
0                                        9                      8           C
1                                       28                      8           D
2                                       13                      7           D
3                                       24                     10           B
4                                       26                      8           C

In [22]:
print("Les valeurs manquantes avant nettoyage sont : ")
print(base.isnull().sum())

Les valeurs manquantes avant nettoyage sont :
Student_ID                                 0
Age                                        0
Gender                                     0
Study_Hours_per_Week                       0
Preferred_Learning_Style                   0
Online_Courses_Completed                   0
Participation_in_Discussions               0
Assignment_Completion_Rate (%)             0
Exam_Score (%)                             0
Attendance_Rate (%)                        0
Use_of_Educational_Tech                    0
Self_Reported_Stress_Level                 0
Time_Spent_on_Social_Media (hours/week)    0
Sleep_Hours_per_Night                      0
Final_Grade                                0
dtype: int64

In [23]:
base_cleaned = base.fillna(0)
base_cleaned = base.dropna()

print("Les valeurs manquantes après nettoyage sont : ")
print(base.isnull().sum())

Les valeurs manquantes après nettoyage sont :
Student_ID                                 0
Age                                        0
Gender                                     0
Study_Hours_per_Week                       0
Preferred_Learning_Style                   0
Online_Courses_Completed                   0
Participation_in_Discussions               0
Assignment_Completion_Rate (%)             0
Exam_Score (%)                             0
Attendance_Rate (%)                        0
Use_of_Educational_Tech                    0
Self_Reported_Stress_Level                 0
Time_Spent_on_Social_Media (hours/week)    0
Sleep_Hours_per_Night                      0
Final_Grade                                0
dtype: int64

In [29]:
print("Les doublons avant suppression sont :")
print(base.duplicated().sum())

base_cleaned = base.drop_duplicates()

print("Les doublons après suppression sont :")
print(base.duplicated().sum())

Les doublons avant suppression sont :
0
Les doublons après suppression sont :
0

In [30]:
base_cleaned.to_csv('new_base.csv', index=False)
print("La nouvelle base nettoyée a été sauvegardé sous 'new_base.csv'.")

La nouvelle base nettoyée a été sauvegardé sous 'new_base.csv'.